<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="../../styles/style.css">
 </head>

<body>
  <% include global/header %>


  <div id="feedback">
  </div>
  <div id="enter_name">
    <h2>User Details - <%=user.name%></h2>
    <br>
      <form>
  First name:<br>
  <input type="text" name="firstname" value="<%-user.fname%>"><br>
  Last name:<br>
  <input type="text" name="lastname" value="<%-user.fname%>">
</form>
    <br>
  </div>
  <% include global/footer %>
  <script src="../../scripts/scripts.js"></script>
 </body>
</html>
